---
import BaseLayout from "./BaseLayout.astro";
import Image from "astro/components/Image.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} showTitle={true}>
    <div class="max-w-4xl mx-auto px-4 py-10">
        <div class="card shadow-md bg-base-100 p-6 space-y-6">
            <!-- Header -->
            <div class="space-y-2">
                <h3 class="text-xl font-semibold text-accent-content">
                    {frontmatter.description}
                </h3>
                <div class="text-sm text-gray-400">
                    <span>{frontmatter.pubDate.toString().slice(0, 10)}</span> ·
                    <span
                        >By <span class="font-medium">{frontmatter.author}</span
                        ></span
                    >
                </div>
            </div>

            <!-- Tags -->
            <div class="flex flex-wrap gap-2">
                {
                    frontmatter.tags.map((tag: string) => (
                        <a
                            href={`/tags/${tag}`}
                            class="badge badge-outline badge-primary hover:badge-accent text-accent-content"
                        >
                            #{tag}
                        </a>
                    ))
                }
            </div>

            <!-- Image -->
            {
                frontmatter.image?.url && (
                    <figure class="flex flex-col items-center gap-2">
                        <Image
                            src={frontmatter.image.url}
                            alt={frontmatter.image.alt || "Blog image"}
                            loading={"eager"}
                            width={frontmatter.image.width}
                            height={frontmatter.image.height}
                            class="w-full max-w-md rounded-xl shadow"
                        />
                        {frontmatter.image.title && (
                            <figcaption class="text-center text-sm text-gray-400">
                                {frontmatter.image.title}
                            </figcaption>
                        )}
                    </figure>
                )
            }

            <!-- Blog Content -->
            <div class="prose prose-neutral dark:prose-invert max-w-none">
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>
